# Ignore the pycache
**/__pycache__

# Ignore the venv
/venv

# Ignore the settings
/config/settings.json

# Ignore the cache
/cache

# Ignore the C++ app builds and VS files
/cpp-app/build
/cpp-app/.vscode
/cpp-app/.vs
/.vscode
/.vs

# Ignore the dataset
/train/dataset/raw/*.txt
/train/dataset/final/*.txt
/train/dataset/final/*.png

# Ignore the models
/train/models/*.pt

# Ignore the tensorboard logs
/train/tensorboard