# Ignore the pycache
**/__pycache__

# Ignore the venv
/venv

# Ignore the settings
/config/settings.json

# Ignore the cache
/cache

# Ignore the C++ app builds and VS files
/cpp-app/out
/cpp-app/.vs
/.vs

# Ignore the dataset
/train/raw_dataset/*
/train/dataset/*

# Ignore the models
/train/models/*

# Ignore the tensorboard logs
/train/tensorboard

# Ignore the old app files
/app-old