deep-translator
beautifulsoup4
opencv-python
simplewindow
torchvision==0.19.1
setuptools
torchaudio==2.4.1
bettercam
unidecode
keyboard
requests
pywin32
tkinter
gputil
psutil
pynput
mouse
numpy==1.26.4
torch==2.4.1